/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    height: 79px;
    justify-content: space-between;
}

header .logo {
    height: 19px;
    padding: 30px 0;
}

nav {
    height: 35px;
    width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


nav a {
    line-height: 35px;
    height: 35px;
    font-size: 16px;
    display: inline-block;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

p {
    font-size: 16px;
}

/******* section info group ********/

.headline {
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline p {
    margin: 0;
}

.info_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    height: 281px;
}

.search_bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    height: 50px;
    width: 377px;
    /* border: 1px solid var(--main-bg-color); */
    border-radius: 15px;
}

.search_bar button {
    box-sizing: border-box;
    color: #FFF;
    font-weight: 700;
    height: 50px;
    width: 132px;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--main-color);
    padding: 15px 16px;
    cursor: pointer;
}

.search_bar_icon {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_bar input {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    flex-grow: 1;
}

.search_bar .input_label {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    left: 50px; 
    top: 0;
    right: 132px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    pointer-events: none;
}

.filter_bar {
    display: flex;
    width: 758px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.filter_bar_title {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.filter_bar button {
    font-size: 17px;
    height: 100%;
    font-weight: 700;
    padding: 4px 19px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #d9d9d9;
    border-radius: 9999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_bar button:hover {
    background-color: #DEEBFF;
}

.filter_bar button i {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_bar i {
    width: 24px;
    height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 33px;
}

.hebergements-cards img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 124px;
    width: 100%;
    object-fit: cover;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 8px;
}

.afficher_plus {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** Activités à Marseille *************/

.activites {
    padding: 30px;
}

.activites h3 {
    padding: 0 20px;
}

.activites_liste {
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    gap: 10px;
}

.activites_card {
    border-radius: 20px;
    height: 380px;
    width: 300px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activites_card img {
    width: 100%;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/************ Footer ************/

footer {
    display: flex;
    text-align: left;
    background-color: #F2F2F2;
    margin-bottom: 50px;
}

.APropos {
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.APropos ul, ol {
    margin: 0;
    padding: 0;
}

.APropos li {
    list-style-type: none;
    padding: 5px 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}