/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    /* border: 1px solid red; */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

header {
    display: flex;
    height: 79px;
    justify-content: space-between;
    margin-top: 2px;
}

header .logo {
    height: 19px;
    padding: 30px 0;
}

nav {
    box-sizing: border-box;
    height: 35px;
    width: 244px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-top: 2px solid transparent;
}


nav a {
    line-height: 35px;
    height: 35px;
    font-size: 16px;
    display: inline-block;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

p {
    font-size: 16px;
}

menu {
    padding: 0;
    margin: 0;
}

/******* section info group ********/

.headline {
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headline p {
    margin: 0;
}

.info_group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 35px 0;
    height: 281px;
}

.search_bar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    height: 50px;
    width: 377px;
    border-radius: 15px;
}

.search_bar button {
    box-sizing: border-box;
    color: #FFF;
    font-weight: 700;
    height: 50px;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid var(--main-color);
    padding: 15px 16px;
    cursor: pointer;
}

.search_bar_icon {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_bar_icon .fa-solid {
    color: black;
}

.search_bar input {
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--main-bg-color);
}

.search_bar input::placeholder {
    font-weight: 700;
    color: black;
}

.search_bar_button_icon {
    display: none;
    position: absolute; 
    right: 0; 
    top: 0; 
    height: 100%;
}

.filter_bar {
    display: flex;
    width: 758px;
    justify-content: space-between;
}

.filter_bar_title {
    display: flex;
    align-items: center;
    width: 54px;
    margin: 0 20px 0 0;
}

.filter_bar_menu {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.filter_bar_menu li {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
}

.filter_bar_menu button {
    font-size: 17px;
    height: 100%;
    font-weight: 700;
    padding: 4px 19px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #d9d9d9;
    border-radius: 9999px;
    display: flex;
    align-items: center;
}

.filter_bar_menu button:hover {
    background-color: #DEEBFF;
}

.filter_bar_menu button i {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_bar {
    height: 24px;
}

.info_bar p {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.info_bar_icon {
    display: flex;
    text-align: center;
    margin-right: 5px;
}

.info_bar i {
    width: 24px;
    height: 24px;
    line-height: 24px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards {
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 33px;
}

.hebergements-cards img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 124px;
    width: 100%;
    object-fit: cover;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 8px;
}

.afficher_plus {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********** Activités à Marseille *************/

.activites {
    padding: 30px;
}

.activites p {
    padding: 0 19px;
    font-weight: 700;
}

.activites_liste {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 30px;
}

.activites_card {
    border-radius: 20px;
    height: 380px;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activites_card img {
    width: 100%;
    height: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/************ Footer ************/

footer {
    display: flex;
    text-align: left;
    background-color: #F2F2F2;
}

.footer_menu {
    width: calc(100% - 40px);
    padding: 20px;
}

.footer_menu li {
    list-style-type: none;
    padding: 0 0 10px 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (max-width: 1345px) {
    .hebergements_list {
        justify-content: space-around;
    }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .info_group {
        height: 322px;
        padding: 0 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements_list {
        justify-content: space-between;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites_card {
        height: 270px;
    }

    .activites_card img {
        height: 200px;
    }

    .filter_bar {
        flex-direction: column;
        justify-content: space-between;
        height: 91px;
    }
}

/***** *******/

@media (max-width: 910px){
    .hebergements_list {
        justify-content: space-around;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    header {
        width: 100%;
        flex-direction: column;
        height: 115px;
        box-sizing: border-box;
    }

    header .logo {
        padding: 30px;
        margin: 0 auto;
    }

    nav {
        width: 100%;
        height: 35px;
        display: flex;
        align-items: start;
        border-bottom: 2px solid transparent;
    }

    nav a {
        width: 50%;
        line-height: 19px;
        text-align: center;
    }

    nav a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .info_group {
        height: 432px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .search_bar {
        width: 100%;
    }

    .search_bar_icon {
        width: 50px;
    }

    .search_bar input {
        width: 100%;
        border-right: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-right: 50px;
    }

    .search_bar_button {
        display: none;
    }
    
    .search_bar_button_icon {
        box-sizing: border-box;
        background-color: var(--main-bg-color);
        border-radius: 15px;
        width: 50px;
        height: 49px;
        border: 1px solid var(--main-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    .search_bar_button_icon .fa-solid {
        color: white;
    }

    .filter_bar {
        justify-content: start;
        width: 100%;
        height: 161px;
    }
    
    .filter_bar_title {
        margin-bottom: 20px;
    }

    .filter_bar_menu {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .filter_bar_menu li {
        height: 50px;
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .filter_bar_menu button {
        font-size: 14px;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 30px 20px;
    }

    #hebergement {
        background-color: white;
        padding-top: 30px;
    }

    .hebergements_list {
        flex-direction: column;
    }

    .hebergements-cards {
        width: 100%;
    }

    .populaires {
        padding: 30px 10px;
        border-radius: 0;
        flex-direction: column;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites_liste {
        margin-top: 30px;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

}